@media (max-width: 1280px) {
    :root {
        --section-padding-y: 64px;
        --section-padding-x: 32px;
    }

    .header__search-form {
        display: none;
    }

    .header__action {
        margin-left: auto;
        margin-right: 25px;
    }

    .hero-blockquote {
        margin: 64px auto 0 auto;
    }

    .hero-bg-cards {
        display: none;
    }

    .about__content {
        flex-direction: column;
    }

    .philosophy-bg {
        position: static;
        transform: none;
    }

    .philosophy__container {
        flex-direction: column-reverse;
        gap: 64px;
    }
    
    .philosophy__quote {
        margin-left: 32px;
    }
    

    .about {
        padding: 64px 0;
    }

    .about__map {
        width: 100%;
        top: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about__box {
        justify-content: center;
    }

    .about__map-caption {
        left: 30%;
    }

    .about__features {
        justify-content: center;
    }

    .contribution {
        overflow: hidden;
    }

    .contribution__container {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .contribution__media {
        left: 50%;
        transform: translateX(-50%);
    }

    .contribution__container {
        padding-left: var(--section-padding-x);
    }

    .international-recognition__map {
        position: static;
        height: 550px;
        width: calc(100% + 32px);
        margin-left: -16px;
        overflow: auto;
    }

    .international-recognition__header {
        margin: 0 auto;
        max-width: 800px;
        align-items: center;
    }

    .international-recognition__header p {
        text-align: center;
    }

    .international-recognition__map img {
        object-fit: cover;
    }

    .international-recognition .container {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .product-body__item {
        width: 288px;
        flex-shrink: 0;
    }

    .product-body {
        overflow-x: auto;
        padding-bottom: 20px;
        scrollbar-width: thin;
        scrollbar-color: var(--color-text) #f0f0f0;
    }

    .product-body::-webkit-scrollbar {
        height: 8px;
    }

    .product-body::-webkit-scrollbar-track {
        background: #f0f0f0;
        border-radius: 4px;
    }

    .product-body::-webkit-scrollbar-thumb {
        background-color: var(--color-text);
        border-radius: 4px;
        border: 2px solid #f0f0f0;
    }

    .reviews__content {
        width: calc(100% - 300px);
    }

    .reviews__img {
        object-fit: cover;
    }

    .reviews__media {
        height: auto;
    }

    .reviews {
        padding-bottom: var(--section-padding-y);
    }

    .product .container {
        padding-right: 0;
    }

    .mixology__media-group {
        display: none;
    }

    .mixology__media {
        position: absolute;
        top: 0;
        right: 0;
    }

    .mixology__content {
        position: relative;
        z-index: 2;
    }

    .mixology .container {
        flex-wrap: wrap;
        gap: 64px;
        justify-content: space-between;
    }


    .blog-card {
        width: calc(50% - 12px);
    }

}

@media (max-width: 1024px) {
    .footer__top {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__col--subscribe {
        max-width: 320px;
    }
}

@media (max-width: 992px) {
    .footer__col--info {
        align-items: center;
    }

    .footer__logo-wrapper {
        align-items: center;
    }

    .footer__contacts {
        align-items: center;
        text-align: center;
    }

    .footer__nav-group {
        align-items: center;
    }

    .footer__col--subscribe {
        align-items: center;
    }

    .footer__col--subscribe .footer__title {
        text-align: center;
    }

    .footer__nav-list {
        align-items: center;
    }

    .history-about {
        min-height: auto;
    }

    .history-about .container {
        padding: 128px var(--section-padding-x);
        flex-direction: column;
        gap: 32px;
    }

    .history-about__content {
        max-width: 100%;
    }

    .history-about__media {
       margin: 0 auto;
       max-width: 384px;
       width: 100%;
    }
    
    .muse .container {
        flex-direction: column;
        gap: 32px;
    }

    .history-about__map-wrapper {
        display: none;
    }

    .muse__content {
        max-width: 100%;
    }

    .muse__content-gallery {
        margin: 0 auto;
    }

    .muse__content-gallery-item {
        max-width: 230px;
        width: 100%;
        flex-shrink: unset;
    }

    .team__body .swiper-wrapper {
        display: flex;
        flex-wrap: nowrap;
        gap: unset;
    }

    .team__slide-founder .team__figure {
        height: 312px;
    }

    .team {
        overflow: hidden;
    }

    .team__item {
        max-width: 100%;
        height: 100%;
    }

    .team__body .swiper-slide {
        flex: none;
        width: 282px !important;
        height: auto;
        max-width: 100% !important;
        overflow: hidden;
    }

    .team__figure {
        flex-shrink: 0;
    }

    .team__body {
        width: 100%;
        overflow: visible;
    }

     .team__nav-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    }

    .team__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;
        cursor: pointer;
        height: 20px;
        z-index: 10;
    }

    
    .team__nav-prev img {
        transform: rotate(180deg);
    }

    .gallery__item {
        max-width: calc(50% - 12px);
    }

    .about-production__content {
        max-width: 350px;
    }

    .about-production__content-list {
        flex-direction: column;
    }

    .about-production__content-item {
       flex: 1;
    }

    .about-production__content {
        gap: 32px;
    }

    .materials__top {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 310px;
}

.materials__media {
    position: absolute;
    top: 0;
    right: 0;
}

.materials__list {
    margin-left: 0;
}
}

@media (max-width: 768px) {
    :root {
        --section-padding-y: 32px;
        --section-padding-x: 16px;

        /* Typography Sizes - Text */
        --text-general-size: 16px;
        --text-big-size: 24px;
        --text-secondary-size: 14px;

        /* Typography Sizes - Headings */
        --heading-big-size: 32px;
        --heading-medium-size: 32px;
        --heading-general-size: 24px;
        --heading-small-size: 18px;
        --heading-exsmall-size: 16px;

        /* Typography Sizes - Decorative */
        --decorative-big-size: 24px;
        --decorative-general-size: 18px;
    }

    .about__box {
        flex-direction: column;
        gap: 16px;
    }

    .about__info {
        align-items: center;
        text-align: center;
    }

    .about .container {
        padding: 0 var(--section-padding-x);
    }

    .about__features {
        flex-wrap: wrap;
    }

    .about__icon-animation {
        right: 0;
    }

    .about__map {
        width: calc(100% + 32px);
        margin-left: -16px;
    }

    .about__map>img {
        width: 100%;
        object-fit: cover;
    }

    .about {
        overflow: hidden;
    }

    .contribution__title {
        font-size: var(--heading-medium-size);
    }

    .title-row p {
        font-size: var(--text-general-size);
    }

    .international-recognition__header {
        font-size: var(--text-general-size);
    }

    .reviews__content {
        gap: 32px;
    }

    .product .container {
        gap: 32px;
    }

    .reviews__content {
        width: 100%;
    }

    .reviews__container {
        padding-right: var(--section-padding-x);
        flex-direction: column;
    }

    .reviews__media {
        width: 100%;
        height: 450px;
        position: relative;
    }

    .reviews__img {
        object-fit: contain;
        position: absolute;
        inset: 0;
        object-position: center bottom;
    }

    .review-card {
        padding: 0 0 16px 0;
    }

    .reviews__pagination {
        margin-left: 0;
    }

    .reviews {
        padding-bottom: 0;
    }

    .mixology {
        padding: var(--section-padding-y) 0;
    }

    .mixology__content {
        max-width: 450px;
        flex: 1;
    }

    .footer__legal {
        width: 100%;
        min-width: 100%;
        justify-content: center;
        gap: 16px;
    }

    .footer__bottom {
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
    }

    .footer__developer {
        margin-left: 0;
    }

    .international-recognition__map {
        height: auto;
    }

    .international-recognition {
        height: auto;
    }

    .footer__nav-group:nth-of-type(1) {
        align-items: flex-start;
    }

    .footer__nav-group:nth-of-type(1) .footer__nav-list {
        align-items: flex-start;
    }

    .footer__nav-group:nth-of-type(2) {
        align-items: flex-end;
    }

    .footer__nav-group:nth-of-type(2) .footer__nav-list {
        align-items: flex-end;
    }

    .philosophy__quote {
        max-width: calc(100% - 78px);
    }

    .philosophy-bg {
        max-width: 690px;
        width: 100%;
    }

     .history-about__content  {
        gap: 24px;
     }

    .muse__content {
        gap: 24px;
    }

    .team .container {
        gap: 24px;
    }

    .about-production__container {
        flex-direction: column-reverse;
        gap: 32px;
    }

    .about-production__content {
        max-width: 100%;
    }

    .about-production__media {
        max-width: 100%;
    }

    .about-production__content-list {
        flex-direction: row;
    }

    .about-production__figure {
        width: 100%;
    }

    .about-production__content-item {
        min-width: 150px;
    }

    .philosophy {
        padding-bottom: 64px;
    }

    .materials__media {
        display: none;
    }

    .materials__top {
        padding-right: 0;
    }

    .materials__list {
        max-width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .materials__item {
        flex: 1;
        min-width: 200px;
    }
    
}

@media (max-width: 576px) {
    .gallery__item {
        max-width: 100%;
    }
}